// .input_container {
//   width: 100%;
//   min-width: 0;
//   max-width: 200vw;
//   position: relative;
//   &::before {
//     left: 0;
//     right: 0;
//     bottom: 0;
//     content: '\00a0';
//     position: absolute;
//     transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
//     border-bottom: solid 2px rgb(61, 144, 247);
//     pointer-events: none;
//   }
//   &::after {
//     left: 0;
//     right: 0;
//     bottom: 0;
//     content: '';
//     position: absolute;
//     transform: scaleX(0);
//     transition: transform 300ms cubic-bezier(0, 0, 0.2, 1) 0ms;
//     border-bottom: solid 2px #ff407f;
//     pointer-events: none;
//   }
//   &:focus-within {
//     &::after {
//       transform: scaleX(1);
//     }
//   }
// }
.search-input {
  width: 200px;
  // border-top-left-radius: 10px;
  // border-top-right-radius: 10px;
  padding: 5px 10px 5px 10px;
  margin: 10px 0 0 10px;
  // border: none;
  border: 1px solid #b3b3b36b;
  // border-bottom: red;
  outline: none;
  height: 30px;
  // -webkit-tap-highlight-color: transparent;
}

.search-input::placeholder {
  // color: rgb(61, 144, 247);
  // align-items: center;
}

.dropdown {
  position: relative;
  margin-left: 10px;
  height: 100%;
  max-height: 200px;
  overflow-x: hidden;
  border: 1px solid #b3b3b36b;
  background-color: white;
  visibility: hidden;
  z-index: 1;
  &.v {
    visibility: visible;
  }
}

.dropdown_item {
  width: 100%;
  // max-width: 407px;
  padding-left: 10px;
  cursor: pointer;
  &:hover {
    background-color: #b3b3b36b;
  }
  border-bottom: 1px solid #b3b3b36b;
}

.item_text {
  // color: rgb(61, 144, 247);
  margin: 0px;
  text-align: left;
}

.suggestBtn {
  width: 100%;
  // background-color: rgb(15, 15, 15);
}

ul {
  padding-left: 0;
}
li {
  // color: rgb(61, 144, 247);
  list-style: none;
}
