.input_container {
  padding: 5px 0 0 5px;
  position: absolute;
  outline: none;
  // height: 200px;
}

.search-input {
  position: relative;
  width: 200px;
  padding: 5px 10px 5px 10px;
  margin: 10px 0 0 10px;
  border: 1px solid #b3b3b36b;
  outline: none;
  height: 30px;
  z-index: 1;
  // -webkit-tap-highlight-color: transparent;
}

.dropdown {
  position: relative;
  margin-left: 10px;
  max-height: 200px;
  overflow-x: hidden;
  border: 1px solid #b3b3b36b;
  background-color: white;
  visibility: hidden;
  z-index: 1;
  &.v {
    visibility: visible;
  }
}

.dropdown_item {
  width: 100%;
  padding-left: 10px;
  cursor: pointer;
  &:hover {
    background-color: #b3b3b36b;
  }
  border-bottom: 1px solid #b3b3b36b;
}

.none {
  width: 100%;
  padding-left: 10px;
}

.item_text {
  // color: rgb(61, 144, 247);
  margin: 0px;
  text-align: left;
}

.dropdown_list {
  padding-left: 0;
  margin-bottom: 0;
}

li {
  // color: rgb(61, 144, 247);
  list-style: none;
}
